<h1>Results</h1>

<p>
  <%= @the_description %>
</p>


<p>
  <img src="<%= @the_image_converted %>" height="500">

</p>



<dl>
  <dt>Carbs (g)</dt>
  <dd><%= @g_carbs %></dd>

  <dt>Protein (g)</dt>
  <dd><%= @g_protein %></dd>

  <dt>Fat (g)</dt>
  <dd><%= @g_fat %></dd>

  <dt>Total calories (kcal) </dt>
  <dd><%= @kcal %></dd>

  <dt>Notes</dt>
  <dd><%= simple_format(@notes) %></dd>
</dl>
